*.o
*.so*
*.a
*.pro.user
*.bak
moc_*.*
ui_*.*
qrc_*.*
.dep
.metadata
.settings
src/Makefile
src/*/Makefile
Doxyfile
control-blz3
control-libblz3-dev
aclocal.m4
config.log
config.status
cppcheck.xml
include_unix/blz3/autoconf.h
src/flags.pri
src/icc.make
src/OpenGL/Makefile.qrender
src/OpenGL/Makefile.qrender-sct
src/OpenGL/Makefile.render
src/base/Makefile.base
src/brt3/Makefile.benc3
src/brt3/Makefile.bimg3
src/brt3/Makefile.brt3
src/image/Makefile.image
src/raytrace/Makefile.raytrace
src/system/Makefile.system
src/system_unix/Makefile.system_unix
src/tools/Makefile.bexif3
src/tools/Makefile.half
src/unittest/Makefile.longtest
src/unittest/Makefile.unittest
.qmake.stash
