*.o
*.so*
*.a
.dep
.metadata
.settings
*.pro.user
src/Makefile
src/*/Makefile
Doxyfile
control-blz3
control-libblz3-dev
aclocal.m4
config.log
config.status
include_unix/blz3/autoconf.h
src/flags.pri
src/icc.make
